body{
    margin: 0;
}
p{
    border: 2px white solid;
    height: 88vh;
    margin-right: 10px;
    margin-left: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}
ul{
    font-size: 20px;
}
ol{
    font-size: 15px;
    padding: 10px;
}
.title{
    font-size: 35px;
}
.left-box {
    float: left;
    width: 24%;
    height: 100vh;
    background-color: black;
}

.right-box {
    float: right;
    width: 76%;
    height: 100vh;
    background-color: white;
}
.details{
    font-size: 20px;
}
.next{
    position: absolute;
    bottom: 20px;;
    right: 12px;
    font-size: 20px;
    border: outset 2px gray;
    background-color: gray;
    padding: 3px;
    color: black;
}
.back{
    position: absolute;
    bottom: 20px;
    left: 24.85%;
    font-size: 20px;
    border: outset 2px gray;
    background-color: gray;
    padding: 3px;
    color: black;
}
a{
    text-decoration: none;
    color: white;
}